.grid_8
  
  %h3 History
  %div
    %a{ :href=> "/locations/check" } Check all
    %a{ :href=> "/locations/reset" } Reset all
  - Whassup.history.each do |location, history|
    %div
      %p
        %strong= location
      %p= "History: #{history.join(' ')}"

